<div class="Cart">
  <h1 class="Cart-Header">Cart</h1>

  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate class="Cart-Form">
      <div class="Cart-Items">
        {% for item in cart.items %}
          <div class="Cart-Item">
            <img
              class="Cart-Item-Image"
              src="{{ item.image | img_url: 'small' }}"
              alt="{{ item.image.alt | escape }}"
            >

            <div class="Cart-Item-Details">
              <p class="Cart-Item-Title">
                <a href="{{ item.url }}" class="Cart-Item-Title-Name">
                  {{ item.product.title }}
                </a>

                <span class="Cart-Item-Title-Size">
                  {{ item.variant.title }}
                </span>
              </p>

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="Cart-Item-Remove">
                Remove
              </a>
            </div>

            <div class="Cart-Item-Fields">
              <div class="Cart-Field">
                <label class="Cart-Field-Label" for="quantity">Quantity:</label>
                <div class="Cart-Field-Control _number" data-number-input>
                  <input type="hidden" id="updates_{{ item.key }}" name="updates[]" value="{{ item.quantity }}" min="1">
                  <button class="Cart-Field-Control-Button" type="button" data-number-increase>+</button>
                  <span class="Cart-Field-Control-Display" data-number-display>...</span>
                  <button class="Cart-Field-Control-Button" type="button" data-number-decrease>-</button>
                </div>
              </div>

              <div class="Cart-Field">
                <p class="Cart-Field-Label">Price:</p>
                <p class="Cart-Field-Value">{{ item.line_price | money }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="Cart-Summary">
        <div class="Cart-Field">
          <p class="Cart-Field-Label">Total:</p>
          <p class="Cart-Field-Value">{{ cart.total_price | money }}</p>
        </div>

        <button class="Cart-Button" type="submit" name="update">
          Update
        </button>

        <button class="Cart-Button _primary" type="submit" name="checkout">
          Checkout
        </button>
      </div>
    </form>
  {% else %}
    <p class="Cart-Empty">Cart is Empty</p>
  {% endif %}
</div>
